# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
.dist/
build/

# Environments
.venv/
env/
venv/

# Tooling / caches
.pytest_cache/
.mypy_cache/
.ruff_cache/
.ipynb_checkpoints/

# OS / editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# uv
.uv/